PORT=4000
DB=mongodb+srv://mongoUser1:MongodbPass@cluster0.rnytx.mongodb.net/?retryWrites=true&w=majority
JWTPRIVATEKEY = "secretkey"
SALT = 10
auth_token=aa4e2c4f25f83e50bb5ca04168f97e5c4bcb9b9f
NODE_ENV=development
MONGODB_URL=mongodb://club_database:27017/
OPENAI_API_KEY=